<ul>
	<li>Inspiration - Award Consideration? <%= corevalue.award_inspiration %>
		<ul>
			<li>Discovery: <%= corevalue.i_discovery %></li>
			<li>Team Spirit: <%= corevalue.i_team_spirit %></li>
			<li>Integration: <%= corevalue.i_integration %></li>
			<li>Comments: <%= corevalue.i_comments %></li>
		</ul>
	</li>
	<li>Teamwork - Award Consideration? <%= corevalue.award_teamwork %>
		<ul>
			<li>Effectiveness: <%= corevalue.t_effectiveness %></li>
			<li>Efficiency: <%= corevalue.t_efficiency %></li>
			<li>Kids Do The Work: <%= corevalue.t_initiative %></li>
			<li>Comments: <%= corevalue.t_comments %></li>
		</ul>
	</li>
	<li>Gracious Professionalism&trade; - Award Consideration? <%= corevalue.award_gracprof %>
		<ul>
			<li>Inclusion: <%= corevalue.g_inclusion %></li>
			<li>Respect: <%= corevalue.g_respect %></li>
			<li>Coopertition&trade;: <%= corevalue.g_coopertition %></li>
			<li>Comments: <%= corevalue.g_comments %></li>
		</ul>
	</li>
</ul>