<ul>

	<li>Discovery: <%= corevalue.discovery %> <%= corevalue.discovery_exceed %></li>
	<li>Innovation: <%= corevalue.innovation %> <%= corevalue.innovation_exceed %></li>
	<li>Impact: <%= corevalue.impact %> <%= corevalue.impact_exceed %></li>
	<li>Inclusion: <%= corevalue.inclusion %> <%= corevalue.inclusion_exceed %></li>
	<li>Teamwork: <%= corevalue.teamwork %> <%= corevalue.teamwork_exceed %></li>
	<li>Fun: <%= corevalue.fun %> <%= corevalue.fun_exceed %></li>

</ul>
<ul>
	<li>Great Job...</li>
	<li><%= corevalue.cv_gj_comments %></li>
	<li>Think About...</li>
	<li><%= corevalue.cv_ta_coments %></li>
</ul>
