<tr>
<td><%= label(:team,:fll_number,"FLL Number") %></td><td><%= f.text_field :fll_number %></td>
</tr>
<tr>
<td><%= label(:team,:team_name) %></td><td><%= f.text_field :team_name %></td>
</tr>
<tr>
	<td><%= label(:team,:coach) %></td><td><%= f.text_field :coach %></td>
</tr>
<tr>
	<td><%= label(:team,:coach_email) %></td><td><%= f.text_field :coach_email %></td>
</tr>
<tr>
	<td><%= label(:team,:asst_coach) %></td><td><%= f.text_field :asst_coach %></td>
</tr>
<tr>
	<td><%= label(:team,:asst_coach_email) %></td><td><%= f.text_field :asst_coach_email %></td>
</tr>
<tr>
	<td><%= label(:team,:school) %></td><td><%= f.text_field :school %></td>
</tr>
<tr>
	<td><%= label(:team,:town) %></td><td><%= f.text_field :town %></td>
</tr>
<tr>
	<td><%= label(:team,:state) %></td><td><%= f.text_field :state %></td>
</tr>