<tr>
<td><%= label(:team,:fll_number,"FLL Number") %></td><td><%= f.text_field :fll_number %></td>
</tr>
<tr>
<td><%= label(:team,:team_name) %></td><td><%= f.text_field :team_name %></td>
</tr>
<tr>
	<td><%= label(:team,:project_score) %></td><td><%= f.text_field :project_score %></td>
</tr>
<tr>
	<td><%= label(:team,:technical_score) %></td><td><%= f.text_field :technical_score %></td>
</tr>