<tr><td><%= team.fll_number %></td><td><%=link_to team.team_name, team %></td>
		<td>&nbsp;</td>
		<td><%= team.high_score %></td>
		<td><%= team.performance_rank %></td>
		<td>&nbsp;</td>
		<td><%= team.mechanical_design %></td>
		<td><%= team.programming %></td>
		<td><%= team.innovation_strategy %></td>
		<td><%= team.robot_scores_total %></td>
		<td><%= team.robot_scores_rank  %></td>
		
		<td>&nbsp;</td><!-- rank -->

		<td><%= team.research %></td>
		<td><%= team.innovative_solution %></td>
		<td><%= team.presentation %></td>
		<td><%= team.project_scores_total %></td>
		<td><%= team.project_rank %></td>
		<td>&nbsp;</td>

		<td><%= team.inspiration %></td>
		<td><%= team.teamwork %></td>
		<td><%= team.grac_prof %></td>
		<td><%= team.corevalue_scores_total %></td>
		<td><%= team.corevalue_rank %></td>
		<td>&nbsp;</td>
		<td><%= team.awards_count %></td>
		<td><%= team.champion_score %></td>
		<td><%= team.champion_rank %></td>
</tr>