<tr><td><%= team.fll_number %></td><td><%=link_to team.team_name, team %></td>
		<td>&nbsp;</td>
		<td><%= team.high_score %></td>
		<td><%= team.performance_rank %></td>

		<td><%= team.gp_score %></td>
		<td>&nbsp;</td>
		<td><%= team.robot_identify %></td>
		<td><%= team.robot_identify2 %></td>
		<td><%= team.robot_design %></td>
		<td><%= team.robot_design2 %></td>
		<td><%= team.robot_create %></td>
		<td><%= team.robot_create2 %></td>
		<td><%= team.robot_iterate %></td>
		<td><%= team.robot_iterate2 %></td>
		<td><%= team.robot_communicate %></td>
		<td><%= team.robot_communicate2 %></td>


		<td><%= team.robot_scores_total %></td>
		<td><%= team.robot_scores_rank  %></td>

		<td>&nbsp;</td><!-- rank -->

		<td><%= team.project_identify %></td>
		<td><%= team.project_identify2 %></td>
		<td><%= team.project_design %></td>
		<td><%= team.project_design2 %></td>
		<td><%= team.project_create %></td>
		<td><%= team.project_create2 %></td>
		<td><%= team.project_iterate %></td>
		<td><%= team.project_iterate2 %></td>
		<td><%= team.project_communicate %></td>
		<td><%= team.project_communicate2 %></td>

		<td><%= team.project_scores_total %></td>
		<td><%= team.project_rank %></td>
		<td>&nbsp;</td>

		<td><%= team.discovery %></td>
		<td><%= team.innovation %></td>
		<td><%= team.impact %></td>
		<td><%= team.inclusion %></td>
		<td><%= team.teamwork %></td>
		<td><%= team.fun %></td>
		<td><%= team.corevalue_scores_total %></td>
		<td><%= team.corevalue_rank %></td>
		<td>&nbsp;</td>
		<td><%= team.awards_count %></td>
		<td><%= team.champion_score %></td>
		<td><%= team.champion_rank %></td>
</tr>
