<h1>Editing team</h1>

<%= form_for(@team) do |f| %>
  <%= errors_for(@team)%>
	<table>
	<%= render :partial => "form", :locals => { :f => f } %>
	</table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
