<h1>Listing teams</h1>
<p><%= link_to "Show Standings", standings_path %> | <%= link_to "Qualifications Match List", qualifications_path %>
	| <%= link_to "Finals Match List", finals_path %> | <%= link_to "Overall Results", results_path %></p>
<table cellpadding="5">

<% for team in @teams %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= team.fll_number %></td>
    <td><%= link_to team.team_name, team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
	<td><%= team.qualifications.length %></td>
	<td><%= link_to "Enter Qual Match Data", new_team_qualification_path(team) unless team.qualifications.length > APP_CONFIG["max_matches"] - 1 %></td>
	<td><%= team.finals.length %></td>
	<td><%= link_to "Enter Final Match Data", new_team_final_path(team) unless team.finals.length > APP_CONFIG["max_matches"] - 1 %></td>
	<% if team.project_score %>
		<td><%= link_to "Edit Project Scores",edit_team_project_score_path(team, team.project_score) %>
	<% else %>
		<td><%= link_to "Enter Project Scores",new_team_project_score_path(team) %>
	<% end %>
	<% if team.robot_score %>
		<td><%= link_to "Edit Robot Tech. Scores",edit_team_robot_score_path(team, team.robot_score) %>
	<% else %>
		<td><%= link_to "Enter Robot Tech. Scores",new_team_robot_score_path(team) %>
	<% end %>
	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New team', new_team_path %>
