
<h1>Listing teams</h1>
<p><%= link_to "Show Standings", standings_path %> (<%= link_to "text", textstandings_path %>) | <%= link_to "Qualifications Match List", qualifications_path %>
	| <%= link_to "Finals Match List", finals_path %> | <%= link_to "Overall Results", results_path %> | <%= link_to "All Team Results", all_teams_path %></p>
<table id="teamtable">

<% for team in @teams %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= team.fll_number %></td>
    <td><%= link_to team.team_name, team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
	<td><%= team.qualifications.length %></td>
	<td><%= link_to"Enter Qual Match Data", new_team_qualification_path(team), class: "btn btn-primary btn-xs" unless team.qualifications.length > APP_CONFIG["max_matches"] - 1 %></td>
	<td><%= team.finals.length %></td>
	<td><%= link_to "Enter Final Match Data", new_team_final_path(team), class: "btn btn-primary btn-xs" %></td>
		<td style="padding-left: 2em;"><%= link_to "Email Team Data to " + "#{team.coach} <#{team.coach_email}>", sendresults_path(team) unless !@current_competition.send_email%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New team', new_team_path %>
<hr>
<div>
<%= form_for :csv_import, :url => {:action => :upload}, :html => { :multipart => true } do |f| -%>
      <p><label for="dump_file">
        Select a JSON File :
      </label>

      <%= f.file_field :file %></p>

        <%= f.submit "Upload", :data => {:disable_with =>  "Uploading..."} %>

<% end -%>
</div>
