
<p class="teamname"><%= "#{@team.fll_number} #{@team.team_name}" %></p>

<table border="1" width="1024" style="border-collapse:collapse;">
	<th rowspan="2">Match</th>
	<th rowspan="2">Table</th>
	<th rowspan="2">Points</th>	
	<% $challenge.missions.each do |mission| -%>	
		<th colspan=<%= mission.items.length %> ><%= mission.description.html_safe -%></th>
	<% end %>
	</tr>

	<tr>
	<% $challenge.missions.each do |mission|
	  	 mission.items.each do |item| -%>
			<th align="center"><%= item.label.to_s.titleize -%></th>
	<%   end
	   end %>
	</tr>
	
	<tr>
	<th colspan="3"></th>
	<% $challenge.missions.each do |mission| 
		mission.items.each do |item| -%>
	<th><%= item.scoring -%></th>
	<% 	end
	 end %>
	</tr>

	<tr>
		<td colspan="33" style="background-color: #dddddd"><%= "#{pluralize(@qualifications.length, "Qualification")}" %> - Average score: <%= @team.average_qual_score %> - High Score: <%= @team.high_score %></td>
	</tr>
	<% 	@qualifications.each do |match| -%>
	<tr align="center">
	
	<td><%= link_to match.match_number, edit_polymorphic_path([@team, match]) -%></td>
	<td><%= match.table_number %></td>
	<td><%= match.score %></td>
	<%	$challenge.missions.each do |mission|
			mission.items.each do |item|
				value = match.results[item.label]
				#score = value.to_i * item.scoring.to_i
				
				score = (item.scoring == "" ? "" : "(" + mission.scoringFunction.call(match.results).to_s + ")" )
# 				if value != " " and $challenge.type_of(item.label) == :boolean
# 			        value = ["N","Y"][value]
# 			    end
	%>
				<td><%= value.to_s + " " + score  %></td>
	<%		end
		end	%>
	</tr>	
	<% end 	%>
	
	<tr>
		<td colspan="33" style="background-color: #dddddd"><%= "#{pluralize(@finals.length, "Final")}" %></td>
	</tr>
		<% 	@finals.each do |match| %>
		<tr align="center">
	
		<td><%= link_to match.match_number, edit_polymorphic_path([@team, match]) %></td>
		<td><%= match.table_number %></td>
		<td><%= match.score %></td>
		<%	$challenge.missions.each do |mission|
				mission.items.each do |item|
					value = match.results[item.label]
#					score = value.to_i * item.scoring.to_i
					score = (item.scoring == "" ? "" : "(" + mission.scoringFunction.call(match.results).to_s + ")" )
# 					if value != " " and $challenge.type_of(item.label) == :boolean
# 				        value = ["N","Y"][value]
# 				    end
		%>
					<td><%= value.to_s + " (" + score.to_s + ")" %></td>
		<%		end
			end	%>
		</tr>	
	<% end 	%>
	
</table>

<p>Add: <%= link_to 'Robot Score', new_team_robot_score_path(@team), class: "btn btn-primary btn-xs" %> |
	<%= link_to 'Project Score', new_team_project_score_path(@team), class: "btn btn-primary btn-xs" %> | 
	<%= link_to 'Core Value Score', new_team_corevalue_score_path(@team), class: "btn btn-primary btn-xs"  %></p>
		
<%= link_to 'Edit', edit_team_path(@team) -%> |
<%= link_to 'Team List', teams_path -%>

<p>Team was considered for <%= @r_count + @c_count + @p_count %> out of 9 awards.</p>
<table width="1024" border="1" style="border-collapse:collapse">
	<tr>
		<td width="33%">
<h2>Robot Scores</h2>

<%	
	@team.robot_scores.each do |robot_score|
%>
	<p>Judge: <%= robot_score.judge_name %> <%= link_to "Update Entry", edit_team_robot_score_path(@team, robot_score)%> | 
		<%= link_to "Remove Entry", team_robot_score_path(@team, robot_score), :confirm => 'Are you sure?', :method => :delete %></p>
	<%= render :partial => "robot", :object => robot_score %>
<%	end %>
</td>
<td width="33%">
<h2>Project Scores</h2>

<%
	@team.project_scores.each do |project_score|
%>
		<p>Judge: <%= project_score.judge_name %> <%= link_to "Update Entry", edit_team_project_score_path(@team, project_score) %> | 
			<%= link_to "Remove Entry", team_project_score_path(@team, project_score), :confirm => 'Are you sure?', :method => :delete %></p>
		<%= render :partial => "project", :object => project_score %>
<%	end %>
</ol>
</td>
<td width="34%">
<h2>Core Values Scores</h2>

<%
	@team.corevalue_scores.each do |corevalue_score|
%>
		<p>Judge: <%= corevalue_score.judge_name %> <%= link_to "Update Entry", edit_team_corevalue_score_path(@team, corevalue_score) %> | 
			<%= link_to "Remove Entry", team_corevalue_score_path(@team, corevalue_score), :confirm => 'Are you sure?', :method => :delete %></p>
		<%= render :partial => "corevalue", :object => corevalue_score %>
<%	end %>
</td>
</tr>
</table>