<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="form-group">
		<%= f.label :name, "Name" %><br />
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :password, "Password" %><br />
		<%= f.text_field :password, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :full_name, "Full Name" %><br />
		<%= f.text_field :full_name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :contact_name, "Contact Name" %><br />
		<%= f.text_field :contact_name, class: 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :from_email, "From Email" %><br />
		<%= f.text_field :from_email, class: 'form-control' %>
	</div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
