<%= form_for [@team, @robotscore] do |f| %>
  <%= errors_for(@robotscore) %>
<p>Judge: <%= f.text_field :judge_name %></p>

<table class="grid">
    <tr style="border: none;">
        <td style="background-color: #EDF4ED">
            <b>Beginning</b><br>1
        </td>
        <td style="background-color: #C6DEC6">
            <b>Developing</b><br>2
        </td>
        <td style="background-color: #9AC69D">
            <b>Accomplished</b><br>3
        </td>
        <td style="background-color: #64AF75">
            <b>Exceeds</b><br>4<br><b><i>How has the team exceeded?</i></b>
        </td>
    </tr>

         <tr>
            <td class="altRC">
                <b>IDENTIFY</b>
            </td>
            <td class="altRC" colspan="3">
              	Team had a clearly defined mission strategy and explored building and coding skills they needed.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :identify, "1" %>
                <%= f.label :identify, "Unclear mission strategy", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :identify, "2" %>
                <%= f.label :identify, "Partially clear mission strategy", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :identify, "3" %>
                <%= f.label :identify, "Clear mission strategy", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :identify, "4" %>
                <%= f.label :identify, "", :value => "4" %>
                <%= f.text_area :identify_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :identify2, "1" %>
                <%= f.label :identify2, "Limited evidence of building and coding skills in all team members", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :identify2, "2" %>
                <%= f.label :identify2, "Inconsistent evidence of building and coding skills in all team members", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :identify2, "3" %>
                <%= f.label :identify2, "Consistent evidence of building and coding skills in all team members", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :identify2, "4" %>
                <%= f.label :identify2, "", :value => "4" %>
                <%= f.text_area :identify2_exceed %>
            </td>
        </tr>

        <tr>
            <td class="altRC">
                <b>DESIGN</b>
            </td>
            <td class="altRC" colspan="3">
              	Team produced innovative designs and a clear workplan, seeking guidance as needed.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :design, "1" %>
                <%= f.label :design, "Minimal evidence of an effective plan", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :design, "2" %>
                <%= f.label :design, "Partial evidence of an effective plan", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :design, "3" %>
                <%= f.label :design, "Clear evidence of an effective plan", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :design, "4" %>
                <%= f.label :design, "", :value => "4" %>
                <%= f.text_area :design_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :design2, "1" %>
                <%= f.label :design2, "Minimal explanation of robot and code’s innovative features", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :design2, "2" %>
                <%= f.label :design2, "Partial explanation of robot and code’s innovative features", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :design2, "3" %>
                <%= f.label :design2, "Clear explanation of robot and code’s innovative features", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :design2, "4" %>
                <%= f.label :design2, "", :value => "4" %>
                <%= f.text_area :design2_exceed %>
            </td>
        </tr>

        <tr>
            <td class="altRC">
                <b>CREATE</b>
            </td>
            <td class="altRC" colspan="3">
              	Team developed an effective robot and code solution matching their mission strategy.
            </td>
        </tr>
         <tr>
            <td>
                <%= f.radio_button :create, "1" %>
                <%= f.label :create, "Limited explanation of their robot and its attachment and sensor functionality", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :create, "2" %>
                <%= f.label :create, "Simple explanation of their robot and its attachment and sensor functionality", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :create, "3" %>
                <%= f.label :create, "Detailed explanation of their robot and its attachment and sensor functionality", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :create, "4" %>
                <%= f.label :create, "", :value => "4" %>
                <%= f.text_area :create_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :create2, "1" %>
                <%= f.label :create2, "Unclear explanation of how code makes their robot act", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :create2, "2" %>
                <%= f.label :create2, "Partially clear explanation of how code makes their robot act", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :create2, "3" %>
                <%= f.label :create2, "Clear explanation of how code makes their robot act", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :create2, "4" %>
                <%= f.label :create2, "", :value => "4" %>
                <%= f.text_area :create2_exceed %>
            </td>
        </tr>
       <tr>
            <td class="altRC">
                <b>ITERATE</b>
            </td>
            <td class="altRC" colspan="3">
              	Team repeatedly tested their robot and code to identify areas for improvement and incorporated the findings into their current solution.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :iterate, "1" %>
                <%= f.label :iterate, "Minimal evidence of testing their robot and code", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :iterate, "2" %>
                <%= f.label :iterate, "Partial evidence of testing their robot and code", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :iterate, "3" %>
                <%= f.label :iterate, "Clear evidence of testing their robot and code", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :iterate, "4" %>
                <%= f.label :iterate, "", :value => "4" %>
                <%= f.text_area :iterate_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :iterate2, "1" %>
                <%= f.label :iterate2, "Minimal evidence their robot and code was improved", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :iterate2, "2" %>
                <%= f.label :iterate2, "Partial evidence their robot and code was improved", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :iterate2, "3" %>
                <%= f.label :iterate2, "Clear evidence their robot and code was improved", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :iterate2, "4" %>
                <%= f.label :iterate2, "", :value => "4" %>
                <%= f.text_area :iterate2_exceed %>
            </td>
        </tr>

              <tr>
            <td class="altRC">
                <b>COMMUNICATE</b>
            </td>
            <td class="altRC" colspan="3">
              	Team's explanation of the robot design process was effective and showed how all team members have been involved.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :communicate, "1" %>
                <%= f.label :communicate, "Unclear explanation of robot design process", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :communicate, "2" %>
                <%= f.label :communicate, "Partially clear explanation of robot design process", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :communicate, "3" %>
                <%= f.label :communicate, "Clear explanation of robot design process", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :communicate, "4" %>
                <%= f.label :communicate, "", :value => "4" %>
                <%= f.text_area :communicate_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :communicate2, "1" %>
                <%= f.label :communicate2, "Minimal evidence that all team members were involved", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :communicate2, "2" %>
                <%= f.label :communicate2, "Partial evidence that all team members were involved", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :communicate2, "3" %>
                <%= f.label :communicate2, "Clear evidence that all team members were involved", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :communicate2, "4" %>
                <%= f.label :communicate2, "", :value => "4" %>
                <%= f.text_area :communicate2_exceed %>
            </td>
        </tr>
    </table>

    <table>
        <tr><th class="altRC comments">Great Job...</th><th class="altRC comments">Think About...</th></tr>
        <tr>
            <td><%= f.text_area :r_gj_comments, :rows => 5, :cols => 80 %></td>
            <td><%= f.text_area :r_ta_comments, :rows => 5, :cols => 80 %></td>
        </tr>
    </table>
  <p><%= f.submit "Submit" %></p>
<% end %>
