<%= form_for [@team, @robotscore] do |f| %>
  <%= errors_for(@robotscore) %>
<p>Judge: <%= f.text_field :judge_name %></p>

<table class="grid">
    <tr style="border: none;">
        <td style="border: none;">
            &nbsp;
        </td>
        <td>
            <b><i>Beginning</i></b>
        </td>
        <td>
            <i><b>Developing</b></i>
        </td>
        <td>
            <i><b>Accomplished</b></i>
        </td>
        <td>
            <i><b>Exemplary</b></i>
        </td>
    </tr>
    <tr>
        <td rowspan="7">
            <div class="vertical">
              <span>Mechanical&nbsp;Design</span> 
              </div>
        </td>
        <td class="alt">
            <b>Durbility</b>
        </td>
        <td class="alt" colspan="3">
            <i>Evidence of structural integrity; ability to withstand rigors of competition</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :m_durability, "1" %> quite fragile, breaks a lot
        </td>
        <td>
            <%= f.radio_button :m_durability, "2" %> frequent or significat faults/repairs
        </td>
        <td>
            <%= f.radio_button :m_durability, "3" %> rare faults/repairs
        </td>
        <td>
            <%= f.radio_button :m_durability, "4" %> sound construction; no repairs
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Mechanical Efficiency</b>
        </td>
        <td colspan="3">
            <i>Economic use of parts and time; easy to repair and modify</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :m_efficiency, "1" %> excessive parts or time to repair/modify
        </td>
        <td>
            <%= f.radio_button :m_efficiency, "2" %> inefficient parts or time to repair/modify
        </td>
        <td>
            <%= f.radio_button :m_efficiency, "3" %> appropriate use of parts and time to repair/modify
        </td>
        <td>
            <%= f.radio_button :m_efficiency, "4" %> streamlined use of parts and time to repair/modify
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Mechanization</b>
        </td>
        <td colspan="3">
            <i>Ability of robot mechanisms to move or act with appropriate speed, strenght and accuracy
                for inteneded tasks (propulsion and execution)</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :m_mechanization, "1" %> imbalance of speed, strenght and accuracy on most tasks
        </td>
        <td>
            <%= f.radio_button :m_mechanization, "2" %> imbalance of speed, strength and accuracy on some tasks
        </td>
        <td>
            <%= f.radio_button :m_mechanization, "3" %> appropriate balance of speed, strength and accuracy on most tasks
        </td>
        <td>
            <%= f.radio_button :m_mechanization, "4" %> appropriate balance of speed, strength and accuracy on every task
        </td>
    </tr>
    <tr valign="top">
        <td colspan="4" valign="top">
            Comments:<%= f.text_area :m_comments, :rows => 5, :cols => 100 %>
        </td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="7">
            <div class="vertical">Programming</div>
        </td>
        <td class="alt">
            <b>Programming Quality</b>
        </td>
        <td class="alt" colspan="3">
            <i>Programming is appropriate for the intended purpose and achieves consistent results</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :p_quality, "1" %> does not achieve purpose AND is inconsisten
        </td>
        <td>
            <%= f.radio_button :p_quality, "2" %> does not achieve purpose OR is inconsistent
        </td>
        <td>
            <%= f.radio_button :p_quality, "3" %> achieves purpose repeatedly
        </td>
        <td>
            <%= f.radio_button :p_quality, "4" %> achieve purpose every time
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Programming Efficiency</b>
        </td>
        <td colspan="3">
            <i>Program is modular, streamlined, and understandable</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :p_efficiency, "1" %> excessive code and difficult to understand
        </td>
        <td>
            <%= f.radio_button :p_efficiency, "2" %> inefficient code and challenge to understand
        </td>
        <td>
            <%= f.radio_button :p_efficiency, "3" %> appropriate code and easy to understand
        </td>
        <td>
            <%= f.radio_button :p_efficiency, "4" %> stremlined code and easy for anyone to understand
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Automation/Navigation</b>
        </td>
        <td colspan="3">
            <i>Ability of the robot to move or act as intended using mechanical and/or sensor feedback(with
                minimal reliance on driver intervention and/or program timing)</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :p_automation, "1" %> frequent driver intervention to aim AND retrieve robot
        </td>
        <td>
            <%= f.radio_button :p_automation, "2" %> frequent driver intervention to aim OR retrieve robot
        </td>
        <td>
            <%= f.radio_button :p_automation, "3" %>  robot moves/acts as intended repeatedly w/occasional driver intervention
        </td>
        <td>
            <%= f.radio_button :p_automation, "4" %> robot moves/acts as intended every time with no driver intervention
        </td>
    </tr>
    <tr valign="top">
        <td colspan="4">
            Comments:<%= f.text_area :p_comments, :rows => 5, :cols => 100 %>
        </td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="7">
            <div class="vertical">Innovation&nbsp;&amp;&nbsp;Strategy  </div>
        </td>
        <td class="alt">
            <b>Design Process</b>
        </td>
        <td class="alt" colspan="3">
            <i>Ablity to develop and explain improvement cycles where alternatives are considered
                and narrowed, selections tested, designs imporved</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :i_designprocess, "1" %> disorganized AND poorly explained improvement cycles
        </td>
        <td>
            <%= f.radio_button :i_designprocess, "2" %> disorganized OR poorly explained improvement cycles
        </td>
        <td>
            <%= f.radio_button :i_designprocess, "3" %> systematic and well-explained improvement cycles
        </td>
        <td>
            <%= f.radio_button :i_designprocess, "4" %> systematic, well-explained and well-documented improvement cycles
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Missions Strategy</b>
        </td>
        <td colspan="3">
            <i>Creation of new, unique, or unexpected feature(s) (e.g designs, programming, strategies
                or applications) that are beneficial in performing the specified tasks</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :i_strategy, "1" %> no clear goals AND no clear strategy
        </td>
        <td>
            <%= f.radio_button :i_strategy, "2" %> no clear goals OR no clear strategy
        </td>
        <td>
            <%= f.radio_button :i_strategy, "3" %> clear strategy to accomplish the team's well defined goals
        </td>
        <td>
            <%= f.radio_button :i_strategy, "4" %> clear strategy to accomplish most/all game missions
        </td>
    </tr>
    <tr class="alt">
        <td>
            <b>Innovation</b>
        </td>
        <td colspan="3">
            <i>Creation of new, unique, or unexpected feature(s)(e.g designs, programming, strategies
                or applications) that are beneficial in performing the specified task</i>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.radio_button :i_innovation, "1" %> existing feature(s)
        </td>
        <td>
            <%= f.radio_button :i_innovation, "2" %> feature(s) contains some original element(s)
        </td>
        <td>
            <%= f.radio_button :i_innovation, "3" %> original feature(s)
        </td>
        <td>
            <%= f.radio_button :i_innovation, "4" %> original feature(s) with the potential to add significant value
        </td>
    </tr>
    <tr valign="top">
        <td colspan="4">
            Comments:<%= f.text_area :i_comments, :rows => 5, :cols => 100 %>
        </td>
    </tr>
</table>

  <p><%= f.submit "Submit" %></p>
<% end %>