<%= form_for [@team, @robotscore] do |f| %>
  <%= errors_for(@robotscore) %>
<p>Judge: <%= f.text_field :judge_name %></p>

<table class="grid">
    <tr style="border: none;">
        <td style="border: none;">
            &nbsp;
        </td>
        <td>
            <b><i>None</i></b>
        </td>
        <td>
            <b><i>Beginning</i></b>
        </td>
        <td>
            <i><b>Developing</b></i>
        </td>
        <td>
            <i><b>Accomplished</b></i>
        </td>
        <td>
            <i><b>Exemplary</b></i>
        </td>
    </tr>
    <tr>
        <td rowspan="8">
            <div class="vertical">
              <span>Mechanical&nbsp;Design</span> 
              </div>
        </td>
        <td class="alt" colspan="2">
            <b>Durbility</b>
        </td>
        <td class="alt" colspan="3">
            <i>Evidence of structural integrity; ability to withstand rigors of competition</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :m_durability, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :m_durability, "1" %> <%= f.label :m_durability, "quite fragile, breaks a lot", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :m_durability, "2" %> <%= f.label :m_durability, "frequent or significant faults/repairs", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :m_durability, "3" %> <%= f.label :m_durability, "rare faults/repairs", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :m_durability, "4" %> <%= f.label :m_durability, "sound construction; no repairs", :value => "4" %>
        </td>
    </tr>
    <tr class="alt">
        <td colspan="2">
            <b>Mechanical Efficiency</b>
        </td>
        <td colspan="4">
            <i>Economic use of parts and time; easy to repair and modify</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :m_efficiency, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :m_efficiency, "1" %> <%= f.label :m_efficiency, "excessive parts or time to repair/modify", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :m_efficiency, "2" %> <%= f.label :m_efficiency, "inefficient parts or time to repair/modify", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :m_efficiency, "3" %> <%= f.label :m_efficiency, "appropriate use of parts and time to repair/modify", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :m_efficiency, "4" %> <%= f.label :m_efficiency, "streamlined use of parts and time to repair/modify", :value => "4" %>
        </td>
    </tr>
    <tr class="alt">
        <td colspan="2">
            <b>Mechanization</b>
        </td>
        <td colspan="4">
            <i>Ability of robot mechanisms to move or act with appropriate speed, strength and accuracy
                for inteneded tasks (propulsion and execution)</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :m_mechanization, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :m_mechanization, "1" %> <%= f.label :m_mechanization, "imbalance of speed, strength and accuracy on most tasks", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :m_mechanization, "2" %> <%= f.label :m_mechanization, "imbalance of speed, strength and accuracy on some tasks", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :m_mechanization, "3" %> <%= f.label :m_mechanization, "appropriate balance of speed, strength and accuracy on most tasks", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :m_mechanization, "4" %> <%= f.label :m_mechanization, "appropriate balance of speed, strength and accuracy on every task", :value => "4" %>
        </td>
    </tr>
	<tr height="60px">
		<td colspan="5"><%= f.check_box :award_mechdesign, {}, "Y", "N" %> <strong>Mechanical Design Award Consideration<strong></td>
	</tr>
    <tr valign="top">
        <td colspan="5" valign="top">
            Comments:<%= f.text_area :m_comments, :rows => 5, :cols => 100 %>
        </td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="8">
            <div class="vertical">Programming</div>
        </td>
        <td class="alt" colspan="2">
            <b>Programming Quality</b>
        </td>
        <td class="alt" colspan="3">
            <i>Programs are appropriate for the intended purpose and would achieve consistent results, assuming no mechanical faults</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :p_quality, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :p_quality, "1" %> <%= f.label :p_quality, "would not achieve purpose AND is inconsistent", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :p_quality, "2" %> <%= f.label :p_quality, "would not achieve purpose OR is inconsistent", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :p_quality, "3" %> <%= f.label :p_quality, "should achieve purpose repeatedly", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :p_quality, "4" %> <%= f.label :p_quality, "should achieve purpose every time", :value => "4" %>
        </td>
    </tr>
    <tr class="alt">
        <td colspan="2">
            <b>Programming Efficiency</b>
        </td>
        <td colspan="3">
            <i>Programs are modular, streamlined, and understandable</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :p_efficiency, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :p_efficiency, "1" %> <%= f.label :p_efficiency, "excessive code and difficult to understand", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :p_efficiency, "2" %> <%= f.label :p_efficiency, "inefficient code and challenge to understand", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :p_efficiency, "3" %> <%= f.label :p_efficiency, "appropriate code and easy to understand", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :p_efficiency, "4" %> <%= f.label :p_efficiency, "streamlined code and easy for anyone to understand", :value => "4" %>
        </td>
    </tr>
    <tr class="alt">
        <td colspan="2">
            <b>Automation/Navigation</b>
        </td>
        <td colspan="3">
            <i>Ability of the robot to move or act as intended using mechanical and/or sensor feedback (with
                minimal reliance on driver intervention and/or program timing)</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :p_automation, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :p_automation, "1" %> <%= f.label :p_automation, "frequent driver intervention to aim AND retrieve robot", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :p_automation, "2" %> <%= f.label :p_automation, "frequent driver intervention to aim OR retrieve robot", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :p_automation, "3" %>  <%= f.label :p_automation, "robot moves/acts as intended repeatedly w/occasional driver intervention", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :p_automation, "4" %> <%= f.label :p_automation, "robot moves/acts as intended every time with no driver intervention", :value => "4" %>
        </td>
    </tr>
	<tr height="60px">
		<td colspan="5"><%= f.check_box :award_programming, {}, "Y", "N" %> <strong> Programming Award Consideration<strong></td>
	</tr>
    <tr valign="top">
        <td colspan="5">
            Comments:<%= f.text_area :p_comments, :rows => 5, :cols => 100 %>
        </td>
    </tr>
</table>
<table class="grid">
    <tr>
        <td rowspan="8">
            <div class="vertical">Innovation&nbsp;&amp;&nbsp;Strategy  </div>
        </td>
        <td class="alt" colspan="2">
            <b>Design Process</b>
        </td>
        <td class="alt" colspan="4">
            <i>Ablity to develop and explain improvement cycles where alternatives are considered
                and narrowed, designs improved (applies to programming as well as mechanical design)</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :i_designprocess, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :i_designprocess, "1" %> <%= f.label :i_designprocess, "disorganized AND poorly explained improvement cycles", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :i_designprocess, "2" %> <%= f.label :i_designprocess, "disorganized OR poorly explained improvement cycles", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :i_designprocess, "3" %> <%= f.label :i_designprocess, "systematic and well-explained improvement cycles", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :i_designprocess, "4" %> <%= f.label :i_designprocess, "systematic, well-explained and well-documented improvement cycles", :value => "4" %>
        </td>
    </tr>
    <tr class="alt">
        <td colspan="2">
            <b>Missions Strategy</b>
        </td>
        <td colspan="3">
            <i>Ability to clearly define and describe the team's game strategy</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :i_strategy, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :i_strategy, "1" %> <%= f.label :i_strategy, "no clear goals AND no clear strategy", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :i_strategy, "2" %> <%= f.label :i_strategy, "no clear goals OR no clear strategy", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :i_strategy, "3" %> <%= f.label :i_strategy, "clear strategy to accomplish the team's well defined goals", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :i_strategy, "4" %> <%= f.label :i_strategy, "clear strategy to accomplish most/all game missions", :value => "4" %>
        </td>
    </tr>
    <tr class="alt">
        <td colspan="2">
            <b>Innovation</b>
        </td>
        <td colspan="3">
            <i>Creation of new, unique, or unexpected feature(s)(e.g designs, programming, strategies
                or applications) that are beneficial in performing the specified task</i>
        </td>
    </tr>
    <tr>
		<td>
			<%= f.radio_button :i_innovation, "0", :default => true %>
		</td>
        <td>
            <%= f.radio_button :i_innovation, "1" %> <%= f.label :i_innovation, "original feature(s) with no added value or potential", :value => "1" %>
        </td>
        <td>
            <%= f.radio_button :i_innovation, "2" %> <%= f.label :i_innovation, "original feature(s) with some added value or potential", :value => "2" %>
        </td>
        <td>
            <%= f.radio_button :i_innovation, "3" %> <%= f.label :i_innovation, "original feature(s) with the potential to add significant", :value => "3" %>
        </td>
        <td>
            <%= f.radio_button :i_innovation, "4" %> <%= f.label :i_innovation, "original feature(s) that add significant value", :value => "4" %>
        </td>
    </tr>
	<tr height="60px">
		<td colspan="5"><%= f.check_box :award_strategy, {}, "Y", "N" %> <strong> Strategy &amp; Innovation Award Consideration<strong></td>
	</tr>
    <tr valign="top">
        <td colspan="5">
            Comments:<%= f.text_area :i_comments, :rows => 5, :cols => 100 %>
        </td>
    </tr>
</table>

  <p><%= f.submit "Submit" %></p>
<% end %>