<ul>
	<li>Inspiration
		<ul>
			<li>Discovery: <%= corevalue.i_discovery %></li>
			<li> Team Identity: <%= corevalue.i_team_spirit %></li>
			<li> Impact: <%= corevalue.i_integration %></li>
		</ul>
	</li>
	<li>Teamwork
		<ul>
			<li>Effectiveness: <%= corevalue.t_effectiveness %></li>
			<li>Efficiency: <%= corevalue.t_efficiency %></li>
			<li>Kids Do The Work: <%= corevalue.t_initiative %></li>
		</ul>
	</li>
	<li>Gracious Professionalism&trade;
		<ul>
			<li>Inclusion: <%= corevalue.g_inclusion %></li>
			<li>Respect: <%= corevalue.g_respect %></li>
			<li>Coopertition&trade;: <%= corevalue.g_coopertition %></li>
		</ul>
	</li>
	<li>Great Job...</li>
	<li><%= corevalue.cv_gj_comments %></li>
	<li>Think About...</li>
	<li><%= corevalue.cv_ta_coments %></li>
</ul>
