<ul>
	<li>Mechanical Design
		<ul>
			<li>Durability: <%= robot.m_durability %></li>
			<li>Mechanical Efficiency: <%= robot.m_efficiency %></li>
			<li>Mechanization: <%= robot.m_mechanization %></li>
		</ul>
	</li>
	<li>Programming
		<ul>
			<li>Programming Quality: <%= robot.p_quality %></li>
			<li>Programming Efficiency: <%= robot.p_efficiency %></li>
			<li>Automation/Navigation: <%= robot.p_automation %></li>
		</ul>
	</li>
	<li>Strategy &amp; Innovation
		<ul>
			<li>Design Process: <%= robot.i_designprocess %></li>
			<li>Mission Strategy: <%= robot.i_strategy %></li>
			<li>Innovation: <%= robot.i_innovation %></li>
		</ul>
	</li>
	<li>Great Job...</li>
	<li><%= robot.r.gj_comments %></li>
	<li>Think About...</li>
	<li><%= robot.r_ta_comments %></li>
</ul>
