<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<%= stylesheet_link_tag 'MindStormCSS.css', :media => "all" %>
  </head>
  <body>
    <h1>Thank you for joining us at <%= @competition.full_name %>!</h1>
    <p>
		Below you will find the judging feedback from your most recent MA FLL competition. Our volunteer judges dedicated much time and effort listening to your teams' vast accomplishments and deliberating with each other on the merits of those achievements.
    </p>
	<p>We provide you this feedback as an opportunity for your teams to make improvements for future events and to better understand how the judge’s interpreted your contributions. Here are some important factors to understand:
	</p>
	<ol>
		<li>The feedback is shown to you in a condensed form, using numerical equivalents (below) to represent which box the judges checked off. You need to review the data provided alongside the actual FLL Rubric (found here: http://firstlegoleague.org/event/judging). When deemed valuable, any judge’s comments are included at the end. The numerical equivalents for the rubric are:
<br />
			0. Not demonstrated<br />
			1. Beginning<br />
			2. Developing<br />
			3. Accomplished<br />
			4. Exemplary<br />
		</li>
		<li> In every case, your team was judged by a minimum of two judges. These judges discussed your team and evaluated them to the best of their abilities. In most cases, the two judges fill out a single rubric for your team and sometimes they each fill out their own. This is the reason why your team might have two responses under some disciplines and only one under others.
		</li>
		<li>Judges can only make comments and assessments based on what was presented and shared with them in the room. In some cases, the judges may indicate that something wasn’t done when your team has in fact done it. This just means that the team did not communicate that effectively to the judges. Judge’s are asked to interpret what they see and hear and fit it into these rubrics... it’s no easy feat!
		</li>
		<li>Please use these results as a positive way to look at your team rather than a negative. It is an opportunity for everyone to make improvements and to reinforce what the judges saw as excellent. Nobody’s perfect (not even the judges). No team scored perfect in all areas! Also, judges do their best to add constructive comments, but they don't always have time.
		</li>
	</ol>
	<p>
		It is important to note, in particular, that if your team did not bring a copy of their programming to the robot design judging, they are likely to have received a "not demonstrated" in some of those categories.
	</p>
	<p>
		In terms of advancement and awarding of the Champion's Award, please also recall to be eligible for consideration:
	</p>
	<ul>
		<li>
			Your team must have competed in all areas (robot performance, robot design judging, project judging, and core values judging).
		</li>
		<li>
			Your team's robot must have scored in the top 40% of the teams at the event.
		</li>
	</ul>
	<p>
		If you have any questions, please ask! </p>
	<p>Other notes:<br>
There are sometimes typos when entering the information into the feedback form, etc. Know, however, that we are unable to provide you with the hard copy of the scores directly from the judges. This allows the judges freedom to make notes on each team in confidence that those notes are for their review and not to be shared with the world. Additionally, note that if the robot score/missions section of this feedback is blank, it means that the event does not use this system for their match scoring. Typically robot score results are not documented and provided to teams since it is something teams can track on your own at the event.
	</p>
	<p>
		Thanks for competing in FLL!  We hope to see you again soon!<br />
		MA FLL Event Organizers<br />
		<%= @competition.full_name %> Event organizer: <%= @competition.contact_name %> - <%= @competition.from_email %>
	</p>
	<hr>
	<p class="teamname"><%= "#{@team.fll_number} #{@team.team_name}" %></p>

	<table border="1" width="1024" style="border-collapse:collapse;">
		<th rowspan="2">Match</th>
		<th rowspan="2">Table</th>
		<th rowspan="2">Points</th>	
		<% $challenge.missions.each do |mission| -%>	
			<th colspan=<%= mission.items.length %> ><%= mission.description.html_safe -%></th>
		<% end %>
		</tr>

		<tr>
		<% $challenge.missions.each do |mission|
		  	 mission.items.each do |item| -%>
				<th align="center"><%= item.label.to_s.titleize -%></th>
		<%   end
		   end %>
		</tr>

		<tr>
		<th colspan="3"></th>
		<% $challenge.missions.each do |mission| 
			mission.items.each do |item| -%>
		<th><%= item.scoring -%></th>
		<% 	end
		 end %>
		</tr>

		<tr>
			<td colspan="24" style="background-color: yellow"><%= "#{pluralize(@qualifications.length, "Qualification")}" %> - Average score: <%= @team.average_qual_score %> - High Score: <%= @team.high_score %></td>
		</tr>
		<% 	@qualifications.each do |match| -%>
		<tr align="center">

		<td><%= match.match_number -%></td>
		<td><%= match.table_number %></td>
		<td><%= match.score %></td>
		<%	$challenge.missions.each do |mission|
				mission.items.each do |item|
					value = match.results[item.label] || 0
					disp = item.labels[value]
					#score = value.to_i * item.scoring.to_i
					#score = (item.scoring == "" ? "" : "(" + mission.scoringFunction.call(match.results).to_s + ")" )
					# if value != " " and $challenge.type_of(item.label) == :boolean
					# 				        value = ["N","Y"][value]
					# 				    end
		%>
					<td><%= disp  %></td>
		<%		end
			end	%>
		</tr>	
		<% end 	%>

		<tr>
			<td colspan="24" style="background-color: yellow"><%= "#{pluralize(@finals.length, "Final")}" %></td>
		</tr>
			<% 	@finals.each do |match| %>
			<tr align="center">

			<td><%= match.match_number %></td>
			<td><%= match.table_number %></td>
			<td><%= match.score %></td>
			<%	$challenge.missions.each do |mission|
					mission.items.each do |item|
						value = match.results[item.label] || 0
						disp = item.labels[value]
						# score = value.to_i * item.scoring.to_i
						# if value != " " and $challenge.type_of(item.label) == :boolean
						# 					        value = ["N","Y"][value]
						# 					    end
			%>
						<td><%= disp %></td>
			<%		end
				end	%>
			</tr>	
		<% end 	%>

	</table>

	<p>Team was considered for <%= @r_count + @c_count + @p_count %> awards.</p>

	<table width="1024" border="1" style="border-collapse:collapse">
		<tr>
			<td width="33%" valign="top">
	<h2>Robot Scores</h2>

	<%	
		@team.robot_scores.each do |robot_score|
	%>
		<p>Judge: <%= robot_score.judge_name %></p>
		<%= render :partial => "robot", :object => robot_score %>
	<%	end %>
	</td>
	<td width="33%" valign="top">
	<h2>Project Scores</h2>

	<%
		@team.project_scores.each do |project_score|
	%>
			<p>Judge: <%= project_score.judge_name %></p>
			<%= render :partial => "project", :object => project_score %>
	<%	end %>
	</ol>
	</td>
	<td width="34%" valign="top">
	<h2>Core Values Scores</h2>

	<%
		@team.corevalue_scores.each do |corevalue_score|
	%>
			<p>Judge: <%= corevalue_score.judge_name %></p>
			<%= render :partial => "corevalue", :object => corevalue_score %>
	<%	end %>
	</td>
	</tr>
	</table>
  </body>
</html>