<%= form_for [@team, @corevalue_score] do |f| %>
	<%= errors_for(@corevalue_score) %>

	<p>Judge: <%= f.text_field :judge_name %></p>

	<table class="grid">
        <tr style="border: none;">
            <td style="background-color: #FAEDEA">
                <b>Beginning</b><br>Minimally observed across the team.<br>1
            </td>
            <td style="background-color: #F3D2CA">
                <b>Developing</b><br>Inconsistently observed across the team.<br>2
            </td>
            <td style="background-color: #DCA7A0">
                <b>Accomplished</b><br>Consistently observed across the team.<br>3
            </td>
            <td style="background-color: #A56B65">
                <b>Exceeds</b><br>4<br><b><i>How has the team exceeded?</i></b>
            </td>
        </tr>

        <tr>
            <td class="altCV">
                <b>DISCOVERY</b>
            </td>
            <td class="altCV" colspan="3">
              	Team explored new skills and ideas.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :discovery, "1" %>
            </td>
            <td>
                <%= f.radio_button :discovery, "2" %>
            </td>
            <td>
                <%= f.radio_button :discovery, "3" %>
            </td>
            <td>
                <%= f.radio_button :discovery, "4" %>
                <%= f.text_area :discovery_exceed %>
            </td>
        </tr>

        <tr class="altCV">
            <td>
                <b>INNOVATION</b>
            </td>
            <td colspan="3">
                Team used creativity and persistence to solve problems.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :innovation, "1" %>
            </td>
            <td>
                <%= f.radio_button :innovation, "2" %>
            </td>
            <td>
                <%= f.radio_button :innovation, "3" %>
            </td>
            <td>
                <%= f.radio_button :innovation, "4" %>
                <%= f.text_area :innovation_exceed %>
            </td>
        </tr>
        <tr class="altCV">
            <td>
                <b>IMPACT</b>
            </td>
            <td colspan="3">
                Team applied what they learned to improve their world.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :impact, "1" %>
            </td>
            <td>
                <%= f.radio_button :impact, "2" %>
            </td>
            <td>
                <%= f.radio_button :impact, "3" %>
            </td>
            <td>
                <%= f.radio_button :impact, "4" %>
                <%= f.text_area :impact_exceed %>
            </td>

        </tr>
        <tr class="altCV">
            <td>
                <b>INCLUSION</b>
            </td>
            <td colspan="3">
                Team demonstrated respect and embraced their differences.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :inclusion, "1" %>
            </td>
            <td>
                <%= f.radio_button :inclusion, "2" %>
            </td>
            <td>
                <%= f.radio_button :inclusion, "3" %>
            </td>
            <td>
                <%= f.radio_button :inclusion, "4" %>
                <%= f.text_area :inclusion_exceed %>
            </td>
        </tr>
        <tr class="altCV">
            <td>
                <b>TEAMWORK</b>
            </td>
            <td colspan="3">
                Team clearly showed they had worked as a team throughout their journey.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :teamwork, "1" %>
            </td>
            <td>
                <%= f.radio_button :teamwork, "2" %>
            </td>
            <td>
                <%= f.radio_button :teamwork, "3" %>
            </td>
            <td>
                <%= f.radio_button :teamwork, "4" %>
                <%= f.text_area :teamwork_exceed %>
            </td>

        </tr><tr class="altCV">
            <td>
                <b>FUN</b>
            </td>
            <td colspan="3">
                Teams clearly had fun and celebrated what they have achieved.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :fun, "1" %>
            </td>
            <td>
                <%= f.radio_button :fun, "2" %>
            </td>
            <td>
                <%= f.radio_button :fun, "3" %>
            </td>
            <td>
                <%= f.radio_button :fun, "4" %>
                <%= f.text_area :fun_exceed %>
            </td>
        </tr>
    </table>

    <table>
    <caption>Feedback Comments</caption>
        <tr><th class="altCV comments">Great Job...</th><th class="altCV comments">Think About...</th></tr>
        <tr>
            <td><%= f.text_area :cv_gj_comments, :rows => 5, :cols => 80 %></td>
            <td><%= f.text_area :cv_ta_coments, :rows => 5, :cols => 80 %></td>
        </tr>
    </table>

	<%= f.submit 'Submit' %>
<% end %>
