<%= form_for [@team, @corevalue_score] do |f| %>
	<%= errors_for(@corevalue_score) %>
	
	<p>Judge: <%= f.text_field :judge_name %></p>
	
	<table class="grid" >
        <tr style="border: none;">
            <td style="border: none;">
                &nbsp;
            </td>
	        <td>
	            <b><i>None</i></b>
	        </td>
            <td>
                <b><i>Beginning</i></b>
            </td>
            <td>
                <i><b>Developing</b></i>
            </td>
            <td>
                <i><b>Accomplished</b></i>
            </td>
            <td>
                <i><b>Exemplary</b></i>
            </td>
        </tr>
        <tr >
            <td rowspan="8" >
                <div class="vertical">Inspiration</div>
            </td>
            <td class="alt" colspan="2">
                <b>Discovery</b>
            </td>
            <td class="alt" colspan="3">
                <i>Balanced emphasis on the overall FLL experience (Robot, Project, Core Values) ; it's
                    not just about winning awards</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :i_discovery, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :i_discovery, "1" %><%= f.label :i_discovery, "emphasis on only one aspect; others neglected", :value => "1" %> 
            </td>
            <td>
                <%= f.radio_button :i_discovery, "2" %> <%= f.label :i_discovery, "emphasis on two aspects; one aspect neglected" , :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :i_discovery, "3" %> <%= f.label :i_discovery, "emphasis on all three aspects", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :i_discovery, "4" %> <%= f.label :i_discovery, "balanced emphasis on all three aspects", :value => "4" %>
            </td>
        </tr>
        <tr class="alt">
            <td colspan="2">
                <b>Team Spirit</b>
            </td>
            <td colspan="3">
                <i>Enthusiastic and fun expression of the team identity</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :i_team_spirit, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :i_team_spirit, "1" %> <%= f.label :i_team_spirit, "minimal enthusiasm AND minimal identity", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :i_team_spirit, "2" %> <%= f.label :i_team_spirit, "minimal enthusiasm OR minimal identity", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :i_team_spirit, "3" %> <%= f.label :i_team_spirit, "team is enthusiastic and fun; clear identity", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :i_team_spirit, "4" %> <%= f.label :i_team_spirit, "team engages others in their enthusiasm and fun; clear identity", :value => "4" %>
            </td>
        </tr>
        <tr class="alt">
            <td colspan="2">
                <b>Integration</b>
            </td>
            <td colspan="3">
                <i>Application of FLL values and skills outside FLL (ability to cite current and potential
                    examples from daily life)</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :i_integration, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :i_integration, "1" %> <%= f.label :i_integration, "team does not apply FLL values and skills outside FLL", :value => "1"  %>
            </td>
            <td>
                <%= f.radio_button :i_integration, "2" %> <%= f.label :i_integration, "team able to cite at least one example", :value => "2"  %>
            </td>
            <td>
                <%= f.radio_button :i_integration, "3" %> <%= f.label :i_integration, "team able to cite multiple examples", :value => "3"  %>
            </td>
            <td>
                <%= f.radio_button :i_integration, "4" %> <%= f.label :i_integration, "team able to cite multiple and personal examples", :value => "4"  %>
            </td>
        </tr>
        <tr valign="top">
            <!-- <td rowspan="7">Inspiration</td> -->
            <td colspan="5" valign="top">
                Comments:<%= f.text_area :i_comments, :rows => 5, :cols => 100 %>
            </td>
        </tr>
    </table>
    <table class="grid">
        <tr>
            <td rowspan="7">
                <div class="vertical">
                    Teamwork</div>
            </td>
            <td class="alt" colspan="2">
                <b>Effectiveness</b>
            </td>
            <td class="alt" colspan="3">
                <i>Problem solving and decision making processes help team achieve their goals</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :t_effectiveness, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :t_effectiveness, "1" %> <%= f.label :t_effectiveness, "team goals AND team processes unclear", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :t_effectiveness, "2" %> <%= f.label :t_effectiveness, "team goals OR team processes unclear", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :t_effectiveness, "3" %> <%= f.label :t_effectiveness, "clear team goals and process", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :t_effectiveness, "4" %> <%= f.label :t_effectiveness, "clear processes enable team to accomplish well defined goals", :value => "4" %>
            </td>           
        </tr>       
        <tr class="alt">
            <td colspan="2">
                <b>Efficiency</b>
            </td>
            <td colspan="3">
                <i>Resources used relative to what the team accomplishes (time management, distribution
                    of roles and responsibilities)</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :t_efficiency, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :t_efficiency, "1" %> <%= f.label :t_efficiency, "limited time management AND unclear goals", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :t_efficiency, "2" %> <%= f.label :t_efficiency, "limited time management OR unclear goals", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :t_efficiency, "3" %> <%= f.label :t_efficiency, "excellent time management and role definition allows team to accomplish most goals", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :t_efficiency, "4" %> <%= f.label :t_efficiency, "excellent time management and role definition allows teams to accomplish all goals", :value => "4" %>
            </td>
        </tr>
        <tr class="alt">
            <td colspan="2">
                <b>Kids Do The Work</b>
            </td>
            <td colspan="3">
                <i>Appropriate balance between team responsibility and coach guidance</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :t_initiative, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :t_initiative, "1" %> <%= f.label :t_initiative, "limited team responsibility AND excessive coach guidance", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :t_initiative, "2" %> <%= f.label :t_initiative, "limited team responsibility OR excessive coach guidance", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :t_initiative, "3" %> <%= f.label :t_initiative, "good balance between team responsibility and coach guidance", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :t_initiative, "4" %> <%= f.label :t_initiative, "team independence with minimum coach guidance", :value => "4" %>
            </td>
        </tr>
        <tr valign="top">
            <!-- <td rowspan="7">Inspiration</td> -->
            <td colspan="5">
                Comments:<%= f.text_area :t_comments, :rows => 5, :cols => 100 %>
            </td>
        </tr>
    </table>
    <table class="grid">
        <tr>
            <td rowspan="8" valign="bottom">
                <div class="vertical">
                    Gracious&nbsp;Professionalism&trade;</div>
            </td>
            <td class="alt" colspan="2">
                <b>Inclusion</b>
            </td>
            <td class="alt" colspan="3">
                <i>Consideration and appreciation for the contributions (ideas and skills) of all team
                    members, with balanced involvement</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :g_inclusion, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :g_inclusion, "1" %> <%= f.label :g_inclusion, "unbalanced team involvement AND lack of appreciation for contributions", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :g_inclusion, "2" %> <%= f.label :g_inclusion, "unbalanced team involvement OR lack of appreciation for contributions", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :g_inclusion, "3" %> <%= f.label :g_inclusion, "balanced team involvement AND appreciation for contributions of most team members", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :g_inclusion, "4" %> <%= f.label :g_inclusion, "balanced team involvement AND appreciation for contributions of all team members", :value => "4" %>
            </td>
        </tr>
        <tr class="alt">
            <td colspan="2">
                <b>Respect</b>
            </td>
            <td colspan="3">
                <i>Team members act and speak with integrity and sensitivity, so that others feel valued&mdash;especially
                    when solving problmes or resolving conflicts</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :g_respect, "0", :default => true %>
			</td>
            <td>
                 <%= f.radio_button :g_respect, "1" %> <%= f.label :g_respect, "not evident with majority of team members", :value => "1" %>
            </td>
            <td>
                 <%= f.radio_button :g_respect, "2" %> <%= f.label :g_respect, "evident with majority of the team members", :value => "2" %>
            </td>
            <td>
                 <%= f.radio_button :g_respect, "3" %> <%= f.label :g_respect, "almost always evident with all team members", :value => "3" %>
            </td>
            <td>
                 <%= f.radio_button :g_respect, "4" %> <%= f.label :g_respect, "always evident, even in the most difficult situations", :value => "4" %>
            </td>
        </tr>
        <tr class="alt">
            <td colspan="2">
                <b>Coopertition&trade;</b>
            </td>
            <td colspan="3">
                <i>Team competes in the spirit of friendly competition and cooperation with others</i>
            </td>
        </tr>
        <tr>
            <td>
				<%= f.radio_button :g_coopertition, "0", :default => true %>
			</td>
            <td>
                <%= f.radio_button :g_coopertition, "4" %> <%= f.label :g_coopertition, "not evident with majority of team members", :value => "4" %>
            </td>
            <td>
                <%= f.radio_button :g_coopertition, "4" %> <%= f.label :g_coopertition, "evident with majority of team members", :value => "4" %>
            </td>
            <td>
                <%= f.radio_button :g_coopertition, "4" %> <%= f.label :g_coopertition, "almost always eveident with all team members", :value => "4" %>
            </td>
            <td>
                <%= f.radio_button :g_coopertition, "4" %> <%= f.label :g_coopertition, "always evident, even in difficult situations - and team actively helps other teams", :value => "4" %>
            </td>
        </tr>
     
        <tr valign="top">
            <!-- <td rowspan="7">Inspiration</td> -->
            <td colspan="5">
                Comments:<%= f.text_area :g_comments, :rows => 5, :cols => 100 %>
            </td>
        </tr>
    </table>
	<%= f.submit 'Submit' %>
<% end %>