<h1>Enter Match data for <%= "#{@team.fll_number} #{@team.team_name}" %></h1>

<%  form_for([@team, @match], :html => {:autocomplete => :off, :onsubmit => "return validate();"}) do |f| %>
<%= f.error_messages %>
<p><b><%= label(:match,:match_number) %></b> <%= f.text_field :match_number %></p>
<table style="border-collapse:collapse;" border="1">
  <% fields_for :results do |match_fields| 
		$challenge.missions.each do |mission| -%>
	<tr><td rowspan="<%= mission.items.length %>"><b><%= mission.description -%></b></td>
	<% mission.items.each do |item|
		allowed_values=item.allowed_values
		if allowed_values.class != Range
			allowed_values = "Y/N"
		end
		input_type = $challenge.type_of(item.label)
		if input_type == :range
			val_func = "return validate_range(#{allowed_values.max});"
		elsif input_type == :boolean
			val_func = "return validate_boolean();"
		end
		 -%>

		<td><%= item.description %></td><td><%= match_fields.text_field item.label, { :size  => 2, :maxlength => 1, :onkeypress => val_func } %> <%= allowed_values %></td>
	</tr>	
		
<%		end	
	end
  end %>
</table>
<%= f.submit "Submit" %>
<%  end -%>