<h1>Enter <%= params[:controller].classify %> Match data for <%= "#{@team.fll_number} #{@team.team_name}" %></h1>

<%  form_for([@team, @match], :html => {:autocomplete => :off, :onsubmit => "return validate();"}) do |f| %>
<%= f.error_messages %>
<p><b><%= label(:match, :match_number) %></b> <%= f.text_field :match_number %></p>
<div id="tableField"><b><%= label(:match, :table_number) %></b> <%= f.text_field :table_number, {:size => 10, :maxlength => 1, :onchange => "change_color();" } %></div>

<table style="border-collapse:collapse;" border="1">
  <% fields_for :results do |match_fields| 
		$challenge.missions.each do |mission| -%>
	<tr><td rowspan="<%= mission.items.length %>"><b><%= mission.description -%></b></td>
	<% mission.items.each do |item|
		allowed_values=item.allowed_values
		if allowed_values.class != Range
			allowed_values = "Y/N"
		end
		if @match.results
			value=@match.results[item.label]
			input_type = $challenge.type_of(item.label)
			if input_type == :boolean
				value = ["N","Y"][value]
			end
		else
			value=""
		end

		input_type = $challenge.type_of(item.label)
		if input_type == :range
			val_func = "return validate_range(#{allowed_values.max});"
		elsif input_type == :boolean
			val_func = "return validate_boolean();"
		end
		 -%>

		<td><%= item.description %></td><td><%= match_fields.text_field item.label, { :value => value, :size  => 2, :maxlength => 2, :onkeypress => val_func } %> <%= allowed_values %></td>
	</tr>	
		
<%		end	
	end
  end %>
</table>
<%= f.submit "Submit" %>
<%  end -%>