
<div id="page">
	<table width="960" cellpadding="0" cellspacing="0">
		<tr>
		<td width="300" align="center"><%= image_tag("mm.png", :height => 150) %></td>
		<td width="360"><div id="title"><%= params[:controller].classify %> Match <%= @match_number %></div></td>
		<td width="300" align="center"><%= image_tag("FLL.png", :height => 150) %></td>
		</tr>
	</table>
<% @matches.group_by(&:table_number).sort.each do |table_number, matches| %>

	<div class="table table<%= table_number%>">
		<div class="tabletitle">Table <%= table_number %></div>
		<div class="results">
			<p class="teamresults">
			<% if matches[0] -%>
				<span class="score"><%= "#{matches[0].score}" -%></span>
				<br />
				<span class="teamname"><%= "#{matches[0].team.team_name} (#{matches[0].team.fll_number})" %></span>
			<% end -%>
			</p>
			<p class="teamresults">
				<% if matches[1] -%>
					<span class="score"><%= "#{matches[1].score}" -%></span>
					<br />
					<span class="teamname"><%= "#{matches[1].team.team_name} (#{matches[1].team.fll_number})" %></span>
				<% end -%>
			</p>
		</div>
	</div>

<% end %>	
	<div id="bottom">
		<%= image_tag("bf_logo.jpg", :size => "200x200" ) %>
		
	</div>
</div>