<%= form_for [@team, @projectscore] do |f| %>
  <%= errors_for(@projectscore) %>
	<p>Judge: <%= f.text_field :judge_name %></p>
	<table class="grid">
	        <tr style="border: none;">
	            <td style="border: none;">
	                &nbsp;
	            </td>
		        <td>
		            <b><i>None</i></b>
		        </td>
	            <td><b><i>Beginning</i></b></td>
	            <td><i><b>Developing</b></i></td>
	            <td><i><b>Accomplished</b></i> </td>
	            <td><i><b>Exemplary</b></i></td>
	        </tr>
	        <tr>
	            <td rowspan="10">
	                <div class="vertical">Research</div>
	            </td>
	            <td class="alt" colspan="2"><b>Problem Identification</b></td>
	            <td class="alt" colspan="3"><i>Clear definition of the problem being studied</i></td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :r_problemID, "0", :default => true %>
				</td>
	            <td>
	              <%= f.radio_button :r_problemID, "1" %><%= f.label :r_problemID, "unclear; few details", :value => "1" %>
	            </td>
	            <td>
	              <%= f.radio_button :r_problemID, "2" %> <%= f.label :r_problemID, "partially clear; details missing", :value => "2" %>
	            </td>
	            <td>
	              <%= f.radio_button :r_problemID, "3" %> <%= f.label :r_problemID, "mostly clear; detailed", :value => "3" %> 
	            </td>
	            <td>
	              <%= f.radio_button :r_problemID, "4" %> <%= f.label :r_problemID, "clear; very detailed", :value => "4" %>
	            </td>
	        </tr>
	        <tr class="alt">
	            <td colspan="2">
	                <b>Sources of Information</b>
	            </td>
	            <td colspan="3">
	                <i>Types (e.g. books, magazines, websites, reports and other resources) and number of quality sources cited, including professionals in the field</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :r_source, "0", :default => true %>
				</td>
	            <td>
	               <%= f.radio_button :r_source, "1" %> <%= f.label :r_source, "one type of information cited; minimal sources", :value => "1" %>
	            </td>
	            <td>
	               <%= f.radio_button :r_source, "2" %> <%= f.label :r_source, "two types of information cited; several sources", :value => "2" %>
	            </td>
	            <td>
	               <%= f.radio_button :r_source, "3" %> <%= f.label :r_source, "three types of information cited; many sources, including professionals", :value => "3" %>
	            </td>
	            <td>
	               <%= f.radio_button :r_source, "4" %> <%= f.label :r_source, "four(+) types of information cited; extensive sources, incl. professionals", :value => "4" %>
	            </td>
	        </tr>
	        <tr class="alt">
	            <td colspan="2">
	                <b>Problem Analysis</b>
	            </td>
	            <td colspan="3">
	                <i>Depth to which the problem was studied and analyzed by the team</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :r_analysis, "0", :default => true %>
				</td>
	            <td>
	              <%= f.radio_button :r_analysis, "1" %> <%= f.label :r_analysis, "minimal study; no team analysis", :value => "1" %>
	            </td>
	            <td>
	              <%= f.radio_button :r_analysis, "2" %>   <%= f.label :r_analysis, "minimal study; some team analysis ", :value => "2" %>
	            </td>
	            <td>
	              <%= f.radio_button :r_analysis, "3" %>  <%= f.label :r_analysis, "sufficient study and analysis by team", :value => "3" %>
	             </td>
	            <td>
	              <%= f.radio_button :r_analysis, "4" %>   <%= f.label :r_analysis, "extensive study and analysis by team", :value => "4" %>
	            </td>
	        </tr>
	           <tr class="alt">
	            <td colspan="2">
	                <b>Review Existing Solutions</b>
	            </td>
	            <td colspan="3">
	                <i>Extent to which existing theories and solutions were analyzed by the team, Including an effort to verify the originality of the team's solution</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :r_review, "0", :default => true %>
				</td>
	            <td>
	              <%= f.radio_button :r_review, "1" %> <%= f.label :r_review, "minimal review; no team analysis", :value => "1" %>
	            </td>
	            <td>
	               <%= f.radio_button :r_review, "2" %> <%= f.label :r_review, "minimal review; some team analysis ", :value => "2" %>
	            </td>
	            <td>
	               <%= f.radio_button :r_review, "3" %> <%= f.label :r_review, "sufficient review and analysis by team", :value => "3" %>
	             </td>
	            <td>
	               <%= f.radio_button :r_review, "4" %> <%= f.label :r_review, "extensive review and analysis by team", :value => "4" %>
	            </td>
	        </tr>
			<tr height="60px">
				<td colspan="5"><%= f.check_box :award_research, {}, "Y", "N" %> <strong>Research Award Consideration<strong></td>
			</tr>
	        <tr valign="top">
	            <td colspan="5" valign="top">
	                Comments:<%= f.text_area :r_comments, :rows => 5, :cols => 100 %>
	            </td>
	        </tr>
	    </table>
	    <table class="grid">
	        <tr>
	            <td rowspan="8">
	                <div class="vertical">Innovative&nbsp;Solution</div>
	            </td>
	            <td class="alt" colspan="2">
	                <b>Team Solution</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Clear explanation of the proposed solution</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :i_teamsolution, "0", :default => true %>
				</td>
	            <td>
	               <%= f.radio_button :i_teamsolution, "1" %> <%= f.label :i_teamsolution, "difficult to understand", :value => "1" %>
	            </td>
	            <td>
	                <%= f.radio_button :i_teamsolution, "2" %> <%= f.label :i_teamsolution, "some parts confusing", :value => "2" %>
	            </td>
	            <td>
	               <%= f.radio_button :i_teamsolution, "3" %> <%= f.label :i_teamsolution, "understandable", :value => "3" %>
	            </td>
	            <td>
	              <%= f.radio_button :i_teamsolution, "4" %> <%= f.label :i_teamsolution, "easy to understand by all", :value => "4" %>
	            </td>
	        </tr>
	        <tr class="alt">
	            <td colspan="2">
	                <b>Innovation</b>
	            </td>
	            <td colspan="3">
	                <i>Degree to which the team's solution makes life better by improving existing options, developing a new application of existing ideas or solving the problem in a completely new way</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :i_innovation, "0", :default => true %>
				</td>
	            <td>
	                <%= f.radio_button :i_innovation, "1" %> <%= f.label :i_innovation, "existing solutions/application", :value => "1" %>
	            </td>
	            <td>
	               <%= f.radio_button :i_innovation, "2" %> <%= f.label :i_innovation, "solutions/application contains some original elements(s)", :value => "2" %>
	            </td>
	            <td>
	               <%= f.radio_button :i_innovation, "3" %> <%= f.label :i_innovation, "original solution/application", :value => "3" %>
	            </td>
	            <td>
	                <%= f.radio_button :i_innovation, "4" %> <%= f.label :i_innovation, "original solution/application with the potential to add significant value", :value => "4" %>
	            </td>
	        </tr>
	        <tr class="alt">
	            <td colspan="2">
	                <b>Implementation</b>
	            </td>
	            <td colspan="3">
	                <i>consideration of factors for implementation (cost, ease of manufacturing, ect.)</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :i_implementation, "0", :default => true %>
				</td>
	            <td>
	               <%= f.radio_button :i_implementation, "1" %> <%= f.label :i_implementation, "minimal factors considered", :value => "1" %>
	            </td>
	            <td>
	                <%= f.radio_button :i_implementation, "2" %><%= f.label :i_implementation, "some factors considered", :value => "2" %> 
	            </td>
	            <td>
	                <%= f.radio_button :i_implementation, "3" %><%= f.label :i_implementation, "factors well considered; some question about proposed solutions", :value => "3" %> 
	            </td>
	            <td>
	               <%= f.radio_button :i_implementation, "4" %><%= f.label :i_implementation, "factors well considered and feasible solution proposed", :value => "4" %> 
	            </td>
	        </tr>
			<tr height="60px">
				<td colspan="5"><%= f.check_box :award_innosolution, {}, "Y", "N" %> <strong>Innovative Solution Award Consideration<strong></td>
			</tr>
	        <tr valign="top">
	            <td colspan="5">
	                Comments:<%= f.text_area :i_comments, :rows => 5, :cols => 100 %>
	            </td>
	        </tr>
	    </table>
	    <table class="grid">
	        <tr>
	            <td rowspan="8">
	                <div class="vertical">
	                Presentation</div>
	            </td>
	            <td class="alt" colspan="2">
	                <b>Presentation Effectiveness</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Message delivery and organization of the presentation</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :p_preseffective, "0", :default => true %>
				</td>
	            <td>
	                <%= f.radio_button :p_preseffective, "1" %> <%= f.label :p_preseffective, "unclear OR disorganized", :value => "1" %>
	            </td>
	            <td>
	               <%= f.radio_button :p_preseffective, "2" %> <%= f.label :p_preseffective, "partially clear; minimal organization", :value => "2" %>
	            </td>
	            <td>
	                <%= f.radio_button :p_preseffective, "3" %> <%= f.label :p_preseffective, "mostly clear; mostly organized", :value => "3" %>
	            </td>
	            <td>
	                <%= f.radio_button :p_preseffective, "4" %> <%= f.label :p_preseffective, "clear AND well organized", :value => "4" %>
	            </td>
	        </tr>
	        <tr class="alt">
	            <td colspan="2">
	                <b>Creativity</b>
	            </td>
	            <td colspan="3">
	                <i>Imagination used to develop and deliver the presentation</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :p_creativity, "0", :default => true %>
				</td>
	            <td>
	               <%= f.radio_button :p_creativity, "1" %><%= f.label :p_creativity, " minimally engaging OR unimaginative", :value => "1" %>
	            </td>
	            <td>
	                <%= f.radio_button :p_creativity, "2" %> <%= f.label :p_creativity, "engaging OR imaginative", :value => "2" %>
	            </td>
	            <td>
	              <%= f.radio_button :p_creativity, "3" %> <%= f.label :p_creativity, "engaging AND imaginative", :value => "3" %>
	            </td>
	            <td>
	              <%= f.radio_button :p_creativity, "4" %><%= f.label :p_creativity, "very engaging AND exceptionally imaginative", :value => "4" %>
	            </td>
	        </tr>
	        <tr class="alt">
	            <td colspan="2">
	                <b>Sharing</b>
	            </td>
	            <td colspan="3">
	                <i>Degree to which the team shared their Project before the tournament with others who might benefit from the team's efforts (Required for award consideration)</i>
	            </td>
	        </tr>
	        <tr>
				<td>
					<%= f.radio_button :p_sharing, "0", :default => true %>
				</td>
	            <td><%= f.radio_button :p_sharing, "1" %> <%= f.label :p_sharing, "shared with one individual", :value => "1" %></td>
	            <td><%= f.radio_button :p_sharing, "2" %> <%= f.label :p_sharing, "shared with one group", :value => "2" %></td>
	            <td><%= f.radio_button :p_sharing, "3" %> <%= f.label :p_sharing, "shared with one individual or group who may benefit", :value => "3" %> </td>
	            <td><%= f.radio_button :p_sharing, "4" %> <%= f.label :p_sharing, "shared with multiple individuals or groups who may benefit", :value => "4" %></td>
	        </tr>
			<tr height="60px">
				<td colspan="5"><%= f.check_box :award_presentation, {}, "Y", "N" %> <strong>Presentation Award Consideration<strong></td>
			</tr>
	        <tr valign="top">
	            <td colspan="5">
	                Comments:<%= f.text_area :p_comments, :rows => 5, :cols => 100 %>
	            </td>
	        </tr>
	    </table>
  <p><%= f.submit "Submit" %></p>
<% end %>
