<%= form_for [@team, @projectscore] do |f| %>
  <%= errors_for(@projectscore) %>
	<p>Judge: <%= f.text_field :judge_name %></p>
	<table class="grid">
	        <tr style="border: none;">
	            <td style="border: none;">
	                &nbsp;
	            </td>
	            <td><b><i>Beginning</i></b></td>
	            <td><i><b>Developing</b></i></td>
	            <td><i><b>Accomplished</b></i> </td>
	            <td><i><b>Exemplary</b></i></td>
	        </tr>
	        <tr>
	            <td rowspan="9">
	                <div class="vertical">Research</div>
	            </td>
	            <td class="alt"><b>Problem Identification</b></td>
	            <td class="alt" colspan="3"><i>Clear definition of the problem being studied</i></td>
	        </tr>
	        <tr>
	            <td>
	              <%= f.radio_button :r_problemID, "1" %> unclear; few details
	            </td>
	            <td>
	              <%= f.radio_button :r_problemID, "2" %> somewhat clear; details missing
	            </td>
	            <td>
	              <%= f.radio_button :r_problemID, "3" %> clear; detailed
	            </td>
	            <td>
	              <%= f.radio_button :r_problemID, "4" %> very clear; very detailed
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Sources of Information</b>
	            </td>
	            <td colspan="3">
	                <i>Types/Sources of information cited (e.g. books, magazines, websites, reports and other resources), including professionals in the field</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               <%= f.radio_button :r_source, "1" %> one type of information cited; minimal sources
	            </td>
	            <td>
	               <%= f.radio_button :r_source, "2" %> two types of information cited; several sources
	            </td>
	            <td>
	               <%= f.radio_button :r_source, "3" %> three types of information cited; many sources, including professionals
	            </td>
	            <td>
	               <%= f.radio_button :r_source, "4" %> four(+)types of information cited; extensive sources, incl. professionals
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Problem Analysis</b>
	            </td>
	            <td colspan="3">
	                <i>Depth to which the problem was studied and analyzed by the team</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	              <%= f.radio_button :r_analysis, "1" %> minimal study; no team analysis
	            </td>
	            <td>
	              <%= f.radio_button :r_analysis, "2" %>  minimal study; some team analysis 
	            </td>
	            <td>
	              <%= f.radio_button :r_analysis, "3" %> sufficient study and analysis by team
	             </td>
	            <td>
	              <%= f.radio_button :r_analysis, "4" %>  extensive study and analysis by team
	            </td>
	        </tr>
	           <tr class="alt">
	            <td>
	                <b>Review Existing Solutions</b>
	            </td>
	            <td colspan="3">
	                <i>Extent to which other theories and solultions were analyzed by the team</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	              <%= f.radio_button :r_review, "1" %> minimal review; no team analysis
	            </td>
	            <td>
	               <%= f.radio_button :r_review, "2" %> minimal study; some team analysis 
	            </td>
	            <td>
	               <%= f.radio_button :r_review, "3" %> sufficient study and analysis by team
	             </td>
	            <td>
	               <%= f.radio_button :r_review, "4" %> extensive study and analysis by team
	            </td>
	        </tr>
	        <tr valign="top">
	            <td colspan="4" valign="top">
	                Comments:<%= f.text_area :r_comments, :rows => 5, :cols => 100 %>
	            </td>
	        </tr>
	    </table>
	    <table class="grid">
	        <tr>
	            <td rowspan="7">
	                <div class="vertical">Innovative&nbsp;Solution</div>
	            </td>
	            <td class="alt">
	                <b>Team Solution</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Clear explanation of the proposed solution</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               <%= f.radio_button :i_teamsolution, "1" %> difficult to understand
	            </td>
	            <td>
	                <%= f.radio_button :i_teamsolution, "2" %> some parts confusing
	            </td>
	            <td>
	               <%= f.radio_button :i_teamsolution, "3" %> understandable
	            </td>
	            <td>
	              <%= f.radio_button :i_teamsolution, "4" %> easy to understand by all
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Innovation</b>
	            </td>
	            <td colspan="3">
	                <i>Degree to which the team's solution makes life better by improving existing options, developing a new application of existing ideas or solving the problem in a completely new way</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <%= f.radio_button :i_innovation, "1" %> existing solutions/application
	            </td>
	            <td>
	               <%= f.radio_button :i_innovation, "2" %> solutions/application contains some original elements(s)
	            </td>
	            <td>
	               <%= f.radio_button :i_innovation, "3" %> original solution/application
	            </td>
	            <td>
	                <%= f.radio_button :i_innovation, "4" %> original solution/application with the potential to add significant value
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Implementation</b>
	            </td>
	            <td colspan="3">
	                <i>consideration of factors for implementation (cost, ease of manufacturing, ect.)</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               <%= f.radio_button :i_implementation, "1" %> minimal factors considered
	            </td>
	            <td>
	                <%= f.radio_button :i_implementation, "2" %> some factors considered
	            </td>
	            <td>
	                <%= f.radio_button :i_implementation, "3" %> factors well considered; some question about proposed solutions
	            </td>
	            <td>
	               <%= f.radio_button :i_implementation, "4" %> factors well considered and feasible solution proposed
	            </td>
	        </tr>
	        <tr valign="top">
	            <td colspan="4">
	                Comments:<%= f.text_area :r_comments, :rows => 5, :cols => 100 %>
	            </td>
	        </tr>
	    </table>
	    <table class="grid">
	        <tr>
	            <td rowspan="7">
	                <div class="vertical">
	                Presentation</div>
	            </td>
	            <td class="alt">
	                <b>Presentation Effectiveness</b>
	            </td>
	            <td class="alt" colspan="3">
	                <i>Message delivery and organization of the presentation</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <%= f.radio_button :p_preseffective, "1" %> unclear or disorganized
	            </td>
	            <td>
	               <%= f.radio_button :p_preseffective, "2" %> somewhat clear; minimal organization
	            </td>
	            <td>
	                <%= f.radio_button :p_preseffective, "3" %> mostly clear; mostly organized
	            </td>
	            <td>
	                <%= f.radio_button :p_preseffective, "4" %> very clear and well organized
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Creativity</b>
	            </td>
	            <td colspan="3">
	                <i>Imagination used to develop and deliver the presentation</i>
	            </td>
	        </tr>
	        <tr>
	            <td>
	               <%= f.radio_button :p_creativity, "1" %> minimally engaging; familiar presentation style
	            </td>
	            <td>
	                <%= f.radio_button :p_creativity, "2" %> somewhat engaging; familiar presentation style
	            </td>
	            <td>
	              <%= f.radio_button :p_creativity, "3" %> engaging; familiar presentation style
	            </td>
	            <td>
	              <%= f.radio_button :p_creativity, "4" %>engaging and new presentation style
	            </td>
	        </tr>
	        <tr class="alt">
	            <td>
	                <b>Sharing</b>
	            </td>
	            <td colspan="3">
	                <i></i>
	            </td>
	        </tr>
	        <tr>
	            <td><%= f.radio_button :p_sharing, "1" %> general, non-targeted audience(s)</td>
	            <td><%= f.radio_button :p_sharing, "2" %> single targeted audience that can benefit</td>
	            <td><%= f.radio_button :p_sharing, "3" %> multiple targeted audience that can benefit from solution </td>
	            <td><%= f.radio_button :p_sharing, "4" %> mult. targeted audiences that can benefit from solution, utilizing diverse sharing methods</td>
	        </tr>
	        <tr valign="top">
	            <td colspan="4">
	                Comments:<%= f.text_area :p_comments, :rows => 5, :cols => 100 %>
	            </td>
	        </tr>
	    </table>
  <p><%= f.submit "Submit" %></p>
<% end %>
