<%= form_for [@team, @projectscore] do |f| %>
  <%= errors_for(@projectscore) %>
	<table border="1"  style='border-collapse: collapse;' id="scoring">

		<tr class="heading">
			<td colspan="2"></td>
			<td width="150">
				Needs Improvement (1)
			</td>
			<td width="150">
				Fair (2)
			</td>
			<td width="150">
				Good (3)
			</td>
			<td width="150">
				Excellent (4)
			</td>
		</tr>
		<tr>
			<td rowspan="6" class="heading">
				Research
			</td>
			<td width="135">
				Research Problem Clearly Defined
			</td>
			<td width="150">
				<%= f.radio_button "research1", "1" %> * No problem or does not relate
			</td>
			<td width="150">
				<%= f.radio_button "research1", "2" %> Vague; poorly relates
			</td>
			<td width="150">
				<%= f.radio_button "research1", "3" %> Clear; relates
			</td>
			<td width="150">
				<%= f.radio_button "research1", "4" %> Concise, relates with theme
			</td>
		</tr>
		<tr >
			<td width="135">
				Used outside resouces
			</td>
			<td width="150">
				<%= f.radio_button "research2", "1" %> None
			</td>
			<td width="150">
				<%= f.radio_button "research2", "2" %> Limited
			</td>
			<td width="150">
				<%= f.radio_button "research2", "3" %> Diverse
			</td>
			<td width="150">
				<%= f.radio_button "research2", "4" %> Multiple; inc professionals
			</td>
		</tr>
		<tr >
			<td width="135">
				Researched the impact of the problem &amp; applied to solution
			</td>
			<td width="150">
				<%= f.radio_button "research3", "1" %> None
			</td>
			<td width="150">
				<%= f.radio_button "research3", "2" %> Limited
			</td>
			<td width="150">
				<%= f.radio_button "research3", "3" %> Clearly done
			</td>
			<td> <%= f.radio_button "research3", "4" %>
				Examined &amp; applied
			</td>
		</tr>
		<tr >
			<td width="135">
				Researched existing solutions &amp; applied that knowledge
			</td>
			<td width="150">
				<%= f.radio_button "research4", "1" %> None
			</td>
			<td width="150">
				<%= f.radio_button "research4", "2" %> Limited
			</td>
			<td width="150">
				<%= f.radio_button "research4", "3" %> Done but not considered
			</td>
			<td width="150">
				<%= f.radio_button "research4", "4" %> Done &amp; applied
			</td>
		</tr>
		<tr >
			<td width="135">
				Alternative theories presented and addressed
			</td>
			<td width="150">
				<%= f.radio_button "research5", "1" %> Ignored
			</td>
			<td width="150">
				<%= f.radio_button "research5", "2" %> Dismissed
			</td>
			<td width="150">
				<%= f.radio_button "research5", "3" %> Considered
			</td>
			<td width="150">
				<%= f.radio_button "research5", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				Demonstrated understanding of technical terms
			</td>
			<td width="150">
				<%= f.radio_button "research6", "1" %> None
			</td>
			<td width="150">
				<%= f.radio_button "research6", "2" %> Limited
			</td>
			<td width="150">
				<%= f.radio_button "research6", "3" %> Yes, but did not explain clearly
			</td>
			<td width="150">
				<%= f.radio_button "research6", "4" %> &nbsp;
			</td>
		</tr>
		<tr height="5">
			<td height="5" colspan="6"></td>
		</tr>
		<tr >
			<td rowspan="3" class="heading">
				Innovative solution
			</td>
			<td width="135">
				Solution presented that clearly addresses the problem
			</td>
			<td width="150">
				<%= f.radio_button "is1", "1" %> * No solution presented
			</td>
			<td width="150">
				<%= f.radio_button "is1", "2" %> Unclear
			</td>
			<td width="150">
				<%= f.radio_button "is1", "3" %> Described, but prob not addressed
			</td>
			<td width="150">
				<%= f.radio_button "is1", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				Data presented supports the solution
			</td>
			<td width="150">
				<%= f.radio_button "is2", "1" %> None
			</td>
			<td width="150">
				<%= f.radio_button "is2", "1" %> Weak or limited
			</td>
			<td width="150">
				<%= f.radio_button "is2", "1" %> Adequate
			</td>
			<td width="150">
				<%= f.radio_button "is2", "1" %> Substantial
			</td>
		</tr>
		<tr >
			<td width="135">
				Solution is innovative and applies knowledge of science/technology
			</td>
			<td width="150">
				<%= f.radio_button "is3", "1" %> Not innov or new
			</td>
			<td width="150">
				<%= f.radio_button "is3", "2" %> Somewhat
			</td>
			<td width="150">
				<%= f.radio_button "is3", "3" %> Yes &amp; applies some sci/tech knowledge
			</td>
			<td width="150">
				<%= f.radio_button "is3", "4" %> Yes &amp; applies sci/tech knowledge
			</td>
		</tr>
		<tr height="5">
			<td height="5" colspan="6"></td>
		</tr>
		<tr >
			<td rowspan="2" class="heading">
				Sharing
			</td>
			<td width="135">
				Shared the project, research, and solution with others
			</td>
			<td width="150">
				<%= f.radio_button "sharing1", "1" %> * Did not share
			</td>
			<td width="150">
				<%= f.radio_button "sharing1", "2" %> Shared with parents
			</td>
			<td width="150">
				<%= f.radio_button "sharing1", "3" %> With class, sponsors, other teams
			</td>
			<td width="150">
				<%= f.radio_button "sharing1", "4" %> With school, community, experts
			</td>
		</tr>
		<tr >
			<td width="135">
				Considered how problem/solution impact others &amp; plans produced change
			</td>
			<td width="150">
				<%= f.radio_button "sharing2", "1" %> Did not consider
			</td>
			<td width="150">
				<%= f.radio_button "sharing2", "2" %> Considered impact, not changes
			</td>
			<td width="150">
				<%= f.radio_button "sharing2", "3" %> Considered &amp; recommend changes
			</td>
			<td width="150">
				<%= f.radio_button "sharing2", "4" %> Considered &amp; implemented plan
			</td>
		</tr>
		<tr height="5">
			<td height="5" colspan="6"></td>
		</tr>
		<tr >
			<td rowspan="10" class="heading">
				Creative Presentation
			</td>
			<td width="135">
				Organized presention; logical progression; clear beginning, middle, and end
			</td>
			<td width="150">
				<%= f.radio_button "pres1", "1" %> Rambles
			</td>
			<td width="150">
				<%= f.radio_button "pres1", "2" %> Weak
			</td>
			<td width="150">
				<%= f.radio_button "pres1", "3" %> Org clear; progression need improvement
			</td>
			<td width="150">
				<%= f.radio_button "pres1", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				All or almost all team members participated (TW)
			</td>
			<td width="150">
				<%= f.radio_button "pres2", "1" %> Limited
			</td>
			<td width="150">
				<%= f.radio_button "pres2", "2" %> Less than half
			</td>
			<td width="150">
				<%= f.radio_button "pres2", "3" %> Most
			</td>
			<td width="150">
				<%= f.radio_button "pres2", "4" %> All or almost all
			</td>
		</tr>
		<tr >
			<td width="135">
				Comprehensive answers to judges questions
			</td>
			<td width="150">
				<%= f.radio_button "pres3", "1" %> Unable to answer
			</td>
			<td width="150">
				<%= f.radio_button "pres3", "2" %> Weak answers
			</td>
			<td width="150">
				<%= f.radio_button "pres3", "2" %> Adequate answers
			</td>
			<td width="150">
				<%= f.radio_button "pres3", "2" %> Comprehensive
			</td>
		</tr>
		<tr >
			<td width="135">
				Collaboration of group is seamless (TW)
			</td>
			<td width="150">
				<%= f.radio_button "pres4", "1" %> Ideas not integrated
			</td>
			<td width="150">
				<%= f.radio_button "pres4", "2" %> Not well-integrated
			</td>
			<td width="150">
				<%= f.radio_button "pres4", "3" %> Project is group effort
			</td>
			<td width="150">
				<%= f.radio_button "pres4", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				Carefully chosen visual aids and support material add to presentation
			</td>
			<td width="150">
				<%= f.radio_button "pres5", "1" %> None
			</td>
			<td width="150">
				<%= f.radio_button "pres5", "2" %> Ineffective
			</td>
			<td width="150">
				<%= f.radio_button "pres5", "3" %> Complement
			</td>
			<td width="150">
				<%= f.radio_button "pres5", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				Excellent use of creativity
			</td>
			<td width="150">
				<%= f.radio_button "pres6", "1" %> Lacking
			</td>
			<td width="150">
				<%= f.radio_button "pres6", "2" %> Informed pres but limited creativity
			</td>
			<td width="150">
				<%= f.radio_button "pres6", "3" %> Uses creativity
			</td>
			<td width="150">
				<%= f.radio_button "pres6", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				Clearly the work of the kids from beginning to end (TW)
			</td>
			<td width="150">
				<%= f.radio_button "pres7", "1" %> Excessive adult involvement
			</td>
			<td width="150">
				<%= f.radio_button "pres7", "2" %> Intervention is apparent
			</td>
			<td width="150">
				<%= f.radio_button "pres7", "3" %> Not obv, but difficult setup/take down
			</td>
			<td width="150">
				<%= f.radio_button "pres7", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				No evident errors and well rehearsed
			</td>
			<td width="150">
				<%= f.radio_button "pres8", "1" %> Many errors
			</td>
			<td width="150">
				<%= f.radio_button "pres8", "2" %> Few, need more rehearsing
			</td>
			<td width="150">
				<%= f.radio_button "pres8", "3" %> Few, well-rehearsed
			</td>
			<td width="150">
				<%= f.radio_button "pres8", "4" %> &nbsp;
			</td>
		</tr>
		<tr >
			<td width="135">
				Excellent use of time
			</td>
			<td width="150">
				<%= f.radio_button "pres9", "1" %> Too long
			</td>
			<td width="150">
				<%= f.radio_button "pres9", "2" %> Slightly too long
			</td>
			<td width="150">
				<%= f.radio_button "pres9", "3" %> Proper length
			</td>
			<td width="150">
				<%= f.radio_button "pres9", "4" %> &nbsp;
			</td>
		</tr>
		<tr>
			<td width="135">
				No technical difficulties
			</td>
			<td width="150">
				<%= f.radio_button "pres10", "1" %> Plagued by them
			</td>
			<td width="150">
				<%= f.radio_button "pres10", "2" %> Several
			</td>
			<td width="150">
				<%= f.radio_button "pres10", "3" %> Very minor
			</td>
			<td width="150">
				<%= f.radio_button "pres10", "4" %> &nbsp;
			</td>
		</tr>

	</table>
  <p><%= f.submit "Submit" %></p>
<% end %>
