<%= form_for [@team, @projectscore] do |f| %>
    <%= errors_for(@projectscore) %>
        <p>Judge:
            <%= f.text_field :judge_name %>
        </p>
        <p>Rank: <%= f.text_field :rank %></p>
        <p style="color:red">* Required for Award Consideration</p>
        <table class="grid">
        <tr style="border: none;">
            <td style="background-color: #E9ECF7">
                <b>Beginning</b><br>1
            </td>
            <td style="background-color: #BEC8E5">
                <b>Developing</b><br>2
            </td>
            <td style="background-color: #90A3D0">
                <b>Accomplished</b><br>3
            </td>
            <td style="background-color: #5F83BF">
                <b>Exceeds</b><br>4<br><b><i>How has the team exceeded?</i></b>
            </td>
        </tr>

        <tr>
            <td class="altPR">
                <b>IDENTIFY</b>
            </td>
            <td class="altPR" colspan="3">
              	Team had a clearly defined problem that was well researched.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :identify, "1" %>
                <%= f.label :identify, "Problem not clearly defined", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :identify, "2" %>
                <%= f.label :identify, "Partially clear definition of the problem", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :identify, "3" %>
                <%= f.label :identify, "Clear definition of the problem", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :identify, "4" %>
                <%= f.label :identify, "", :value => "4" %>
                <%= f.text_area :identify_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :identify2, "1" %>
                <%= f.label :identify2, "Minimal research", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :identify2, "2" %>
                <%= f.label :identify2, "Partial research from more than one source", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :identify2, "3" %>
                <%= f.label :identify2, "Clear, detailed research from a variety of sources", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :identify2, "4" %>
                <%= f.label :identify2, "", :value => "4" %>
                <%= f.text_area :identify2_exceed %>
            </td>
        </tr>

        <tr>
            <td class="altPR">
                <b>DESIGN</b>
            </td>
            <td class="altPR" colspan="3">
              	Team generated innovative ideas independently before selecting and planning which one to develop.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :design, "1" %>
                <%= f.label :design, "Minimal evidence of an inclusive selection process", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :design, "2" %>
                <%= f.label :design, "Partial evidence of an inclusive selection process", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :design, "3" %>
                <%= f.label :design, "Clear evidence of an inclusive selection process", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :design, "4" %>
                <%= f.label :design, "", :value => "4" %>
                <%= f.text_area :design_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :design2, "1" %>
                <%= f.label :design2, "Minimal evidence of an effective plan", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :design2, "2" %>
                <%= f.label :design2, "Partial evidence of an effective plan", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :design2, "3" %>
                <%= f.label :design2, "Clear evidence of an effective plan", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :design2, "4" %>
                <%= f.label :design2, "", :value => "4" %>
                <%= f.text_area :design2_exceed %>
            </td>
        </tr>

        <tr>
            <td class="altPR">
                <b>CREATE</b>
            </td>
            <td class="altPR" colspan="3">
              	Team developed an original idea or built on an existing one with a prototype model/drawing to represent their solution.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :create, "1" %>
                <%= f.label :create, "Minimal development of innovative solution", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :create, "2" %>
                <%= f.label :create, "Partial development of innovative solution", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :create, "3" %>
                <%= f.label :create, "Clear development of innovative solution", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :create, "4" %>
                <%= f.label :create, "", :value => "4" %>
                <%= f.text_area :create_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :create2, "1" %>
                <%= f.label :create2, "Unclear model/drawing of solution", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :create2, "2" %>
                <%= f.label :create2, "Simple model/drawing that helps to share the solution", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :create2, "3" %>
                <%= f.label :create2, "Detailed model/drawing that helps to share the solution", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :create2, "4" %>
                <%= f.label :create2, "", :value => "4" %>
                <%= f.text_area :create2_exceed %>
            </td>
        </tr>
       <tr>
            <td class="altPR">
                <b>ITERATE</b>
            </td>
            <td class="altPR" colspan="3">
              	Team shared their ideas, collected feedback, and included improvements in their solution.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :iterate, "1" %>
                <%= f.label :iterate, "Minimal sharing of their solution", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :iterate, "2" %>
                <%= f.label :iterate, "Shared their solution with user OR professional", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :iterate, "3" %>
                <%= f.label :iterate, "Shared their solution with user AND professional", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :iterate, "4" %>
                <%= f.label :iterate, "", :value => "4" %>
                <%= f.text_area :iterate_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :iterate2, "1" %>
                <%= f.label :iterate2, "Minimal evidence of improvements in their solution", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :iterate2, "2" %>
                <%= f.label :iterate2, "Partial evidence of improvements in their solution", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :iterate2, "3" %>
                <%= f.label :iterate2, "Clear evidence of improvements in their solution", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :iterate2, "4" %>
                <%= f.label :iterate2, "", :value => "4" %>
                <%= f.text_area :iterate2_exceed %>
            </td>
        </tr>

              <tr>
            <td class="altPR">
                <b>COMMUNICATE</b>
            </td>
            <td class="altPR" colspan="3">
              	Team shared a creative and effective presentation of their current solution and its impact on their users.
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :communicate, "1" %>
                <%= f.label :communicate, "Presentation minimally engaging", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :communicate, "2" %>
                <%= f.label :communicate, "Presentation partially engaging", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :communicate, "3" %>
                <%= f.label :communicate, "Presentation engaging", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :communicate, "4" %>
                <%= f.label :communicate, "", :value => "4" %>
                <%= f.text_area :communicate_exceed %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.radio_button :communicate2, "1" %>
                <%= f.label :communicate2, "Solution and its potential impact on others unclear", :value => "1" %>
            </td>
            <td>
                <%= f.radio_button :communicate2, "2" %>
                <%= f.label :communicate2, "Solution and its potential impact on others partially clear", :value => "2" %>
            </td>
            <td>
                <%= f.radio_button :communicate2, "3" %>
                <%= f.label :communicate2, "Solution and its potential impact on others clear", :value => "3" %>
            </td>
            <td>
                <%= f.radio_button :communicate2, "4" %>
                <%= f.label :communicate2, "", :value => "4" %>
                <%= f.text_area :communicate2_exceed %>
            </td>
        </tr>
    </table>
<!-------------------------------------------------->

    <table>
        <tr><th class="altPR comments">Great Job...</th><th class="altPR comments">Think About...</th></tr>
        <tr>
            <td><%= f.text_area :p_gj_comments, :rows => 5, :cols => 80 %></td>
            <td><%= f.text_area :p_ta_comments, :rows => 5, :cols => 80 %></td>
        </tr>
    </table>
        <p>
            <%= f.submit "Submit" %>
        </p>
        <% end %>
