<!DOCTYPE html>
<html>
<head>
  <title>Teams: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="user_nav">
	  <% if Wcurrent_competition %>
	    <span class="teamTitle"><%= Wcurrent_competition.full_name %></span>.
	    <%= link_to "Log out", logout_path %>
	  <% else %>
	    <%= link_to "Log in", login_path %>
	  <% end %>
	</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
