<!DOCTYPE html>
<html>
<head>
  <title>Competitions: <%= controller.action_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="user_nav">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
