<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Matches</title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <%= yield :head_script %>

</head>
<body>
	<div id="user_nav">
	  <% if @current_competition %>
	    <span class="teamTitle"><%= @current_competition.full_name %></span>.
	    <%= link_to "Log out", logout_path %>
	  <% else %>
	    <%= link_to "Log in", login_path %>
	  <% end %>
	</div>
<p style="color: red; font-size: 20px"><%= flash[:notice] %></p>
<div class="container-fluid">
<%= yield  %>
</div>
</body>
</html>
