<!DOCTYPE html >

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teams: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'MindStormCSS.css', :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery.marquee' %>
	  <%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body>
	<div id="user_nav">
	  <% if @current_competition %>
	   <span class="teamTitle"><%= @current_competition.full_name %></span>.
	    <%= link_to "Log out", logout_path %>
	  <% else %>
	    <%= link_to "Log in", login_path %>
	  <% end %>
	</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
